*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar .navbar-collapse .nav-item .nav1{
    color :rgba(255, 255, 255, 0.55);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;;

}
.navbar .navbar-collapse .nav-item .nav1:hover{
    color: rgb(189 200 201);
}
.title{
    font-weight: 700;
    font-size: 3rem;
}
.text{
    font-size: 1.5rem 
}
.feature{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
   
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;
}
